extends layout

block content
    h1 Links
    hr
    ol
        li 
            a(href="https://en.wikipedia.org/wiki/Method") https://en.wikipedia.org/wiki/Method
        li 
            a(href="https://en.wikipedia.org/wiki/Fibonacci_number") https://en.wikipedia.org/wiki/Fibonacci_number
        li 
            a(href="https://en.wikipedia.org/wiki/Prime_number") https://en.wikipedia.org/wiki/Prime_number