extends layout

block content 
    h1 Theory
    hr
    p Method literally means a pursuit of knowledge, investigation, mode of prosecuting such inquiry, system. In recent centuries it more often means a prescribed process for completing a task. It may refer to:
    ul
        li Scientific method, a series of steps, or collection of methods, taken to acquire knowledge
        li Method (computer programming), a piece of code associated with a class or object to perform a task
        li Method (patent), under patent law, a protected series of steps or acts
        li Methodology, comparison or study and critique of individual methods that are used in a given discipline or field of inquiry
        li Discourse on the Method, a philosophical and mathematical treatise by René Descartes
        li Methods (journal), a scientific journal covering research on techniques in the experimental biological and medical sciences
    